<nav style="padding:10px; border-bottom:1px solid #ccc;">
  <a href="/integrantes">Integrantes</a> |
  <a href="/professores">Listar Professores</a> |
  <a href="/professores/create">Cadastrar Professor</a> |
  <a href="/cursos">Listar Cursos</a> |
  <a href="/alunos">Listar Alunos</a>
</nav>
