<!doctype html>
<html>
<head><meta charset="utf-8"><title>Professores</title></head>
<body>
  <%- include('partials/navbar') %>
  <h1>Professores</h1>
  <% if (professores.length === 0) { %>
    <p>Nenhum professor cadastrado.</p>
  <% } else { %>
    <table border="1" cellpadding="6">
      <tr><th>Nome</th><th>Disciplina</th><th>Email</th></tr>
      <% professores.forEach(p => { %>
        <tr>
          <td><%= p.nome %></td>
          <td><%= p.disciplina %></td>
          <td><%= p.email %></td>
        </tr>
      <% }) %>
    </table>
  <% } %>
</body>
</html>
